In [1]:
import os
from shutil import copyfile
import pandas as pd

In [2]:
ref = pd.read_csv('VLMDB_sa_train_SA.csv')
ref

         id     proba  label
0     42953 -5.606730      0
1     23058 -9.678472      0
2     13894 -6.174504      0
3     37408 -8.188578      0
4     82403 -3.092602      0
...     ...       ...    ...
8591  82054 -5.372237      0
8592  13749 -8.106605      0
8593  85067 -8.701499      0
8594  20541 -8.022065      0
8595  60724 -1.324006      0

[8596 rows x 3 columns]

In [4]:
df = pd.read_csv('EL365072_sa_train_SA.csv')
df

         id     proba  label
0     42953 -8.354481      0
1     23058 -9.939604      0
2     13894 -7.618436      0
3     37408 -9.660503      0
4     82403 -6.972340      0
...     ...       ...    ...
8569  54231 -7.697868      0
8570  85293 -8.494770      0
8571  54730 -9.906495      0
8572  48973 -9.418135      0
8573   8459 -9.087125      0

[8574 rows x 3 columns]

In [12]:
delta = ref[~ref.id.isin(df.id)]
df.append(delta).sort_values(by='id')

         id      proba  label
3405   1235   7.810717      0
7288   1236 -10.059327      0
6016   1243 -10.316056      0
7653   1245  -1.889131      0
8295   1247   7.469821      0
...     ...        ...    ...
5860  98752  -9.328707      0
4963  98754   7.727529      0
1779  98756   6.754830      0
7285  98762  -9.167634      0
563   98764  -7.841705      0

[8596 rows x 3 columns]

In [14]:
df3 = pd.read_csv('EL365072_sa_dev_seen_SA.csv')
df3

        id     proba  label
0     8291 -4.575184      0
1    46971 -4.317094      0
2     3745 -4.825463      0
3    83745 -7.133725      0
4    80243  8.144004      0
..     ...       ...    ...
495  83675 -7.441479      0
496  37198 -8.486350      0
497  48670 -9.083436      0
498   9863 -7.742591      0
499  97320 -7.998676      0

[500 rows x 3 columns]

In [17]:
df4 = pd.read_csv('VLMDB_sa_dev_seen_SA.csv')
df4

        id      proba  label
0     8291  -1.789738      0
1    46971  -6.342868      0
2     3745  -2.764369      0
3    83745  -3.597456      0
4    80243  -0.006947      1
..     ...        ...    ...
495  83675  -7.677633      0
496  37198  -8.195395      0
497  48670  -7.626039      0
498   9863 -10.264411      0
499  97320  -8.209462      0

[500 rows x 3 columns]

In [22]:
(df3.id.values == df4.id.values).sum()

500

In [23]:
df3 = pd.read_csv('EL365072_sa_test_seen_SA.csv')
df4 = pd.read_csv('VLMDB_sa_test_seen_SA.csv')
(df3.id.values == df4.id.values).sum()

1000

In [24]:
df3 = pd.read_csv('EL365072_sa_test_unseen_SA.csv')
df4 = pd.read_csv('VLMDB_sa_test_unseen_SA.csv')
(df3.id.values == df4.id.values).sum()

2000

In [36]:
os.listdir(os.path.join(os.getcwd(), 'res'))

['OV50',
 'ES36',
 'ES_RECT',
 'ESV50',
 'ELV50',
 'V45',
 'U36',
 'ELVCR72',
 'EL72',
 'U50',
 'EL36',
 'EL_RECT',
 'V135',
 'ESVCR36',
 'V90',
 'U72',
 'O36',
 'O50',
 'ESVCR72',
 'ELVCR36',
 'ES72']

In [51]:
keep_cols = ['id', 'proba_x', 'label_x']
col_map = {'proba_x': 'proba', 'label_x': 'label'}
e_folders = ['ES36', 'ESVCR36', 'ESV50', 'ES72', 'ESVCR72', 'EL36', 'ELVCR36', 'ELV50', 'EL72', 'ELVCR72']

In [53]:
for ef in e_folders:
    print('-'*10 , ef, '-'*10)
    df = pd.read_csv(os.path.join('.', 'res', ef, ef+'_train.csv'))
    print(df.shape)
    if ef[:2] == 'ES':
        os.makedirs(os.path.join('.', 'res', 'ES_RECT', ef), exist_ok=True)
        for eff in os.listdir(os.path.join('.', 'res', ef)):            
            src = os.path.join('.', 'res', ef, eff)
            dest = os.path.join('.', 'res', 'ES_RECT', ef, eff)
            copyfile(src, dest)
            
            if 'train' in src:
                df = pd.read_csv(src)
                df_new = pd.merge(df, ref, on=['id'], how='inner')[keep_cols]
                df_new = df_new.rename(columns=col_map)
                df_new.to_csv(dest)
            
    elif ef[:2] == 'EL':
        os.makedirs(os.path.join('.', 'res', 'EL_RECT', ef), exist_ok=True)
        for eff in os.listdir(os.path.join('.', 'res', ef)):
            src = os.path.join('.', 'res', ef, eff)
            dest = os.path.join('.', 'res', 'EL_RECT', ef, eff)
            copyfile(src, dest)
            
            if 'train' in src:
                df = pd.read_csv(src)
                df_new = pd.merge(df, ref, on=['id'], how='inner')[keep_cols]
                df_new = df_new.rename(columns=col_map)
                df_new.to_csv(dest)

---------- ES36 ----------
(8574, 3)
---------- ESVCR36 ----------
(8574, 3)
---------- ESV50 ----------
(8574, 3)
---------- ES72 ----------
(8574, 3)
---------- ESVCR72 ----------
(8574, 3)
---------- EL36 ----------
(8574, 3)
---------- ELVCR36 ----------
(8574, 3)
---------- ELV50 ----------
(8574, 3)
---------- EL72 ----------
(8574, 3)
---------- ELVCR72 ----------
(8574, 3)

In [17]:
for ef in os.listdir(os.path.join('.', 'res')):
    os.makedirs(os.path.join('.', 'newres', ef), exist_ok=True)
    for file in os.listdir(os.path.join('.', 'res', ef)):
        if 'dev' in file or 'test' in file:
            print(os.path.join('.', 'res', ef, file))
            df = pd.read_csv(os.path.join('.', 'res', ef, file)).sort_values(by='id')
        elif 'train' in file:
            print(os.path.join('.', 'res', ef, file))
            df = pd.read_csv(os.path.join('.', 'res', ef, file))
            delta = ref[~ref.id.isin(df.id)]
            df = df.append(delta).sort_values(by='id')
        df.to_csv(os.path.join('.', 'newres', ef, file))

./res/OV50/OV50_train.csv
./res/OV50/OV50_test_seen.csv
./res/OV50/OV50_dev_seen.csv
./res/OV50/OV50_test_unseen.csv
./res/ES36/ES36_train.csv
./res/ES36/ES36_test_unseen.csv
./res/ES36/ES36_test_seen.csv
./res/ES36/ES36_dev_seen.csv
./res/ESV50/ESV50_dev_seen.csv
./res/ESV50/ESV50_test_unseen.csv
./res/ESV50/ESV50_test_seen.csv
./res/ESV50/ESV50_train.csv
./res/ELV50/ELV50_test_unseen.csv
./res/ELV50/ELV50_train.csv
./res/ELV50/ELV50_dev_seen.csv
./res/ELV50/ELV50_test_seen.csv
./res/V45/V45_dev_seen.csv
./res/V45/V45_train.csv
./res/V45/V45_test_seen.csv
./res/V45/V45_test_unseen.csv
./res/U36/U36_train.csv
./res/U36/U36_test_seen.csv
./res/U36/U36_test_unseen.csv
./res/U36/U36_dev_seen.csv
./res/ELVCR72/ELVCR72_test_seen.csv
./res/ELVCR72/ELVCR72_dev_seen.csv
./res/ELVCR72/ELVCR72_test_unseen.csv
./res/ELVCR72/ELVCR72_train.csv
./res/EL72/EL72_train.csv
./res/EL72/EL72_test_unseen.csv
./res/EL72/EL72_test_seen.csv
./res/EL72/EL72_dev_seen.csv
./res/U50/U50_test_unseen.csv
./res/U50/U50_dev_seen.csv
./res/U50/U50_test_seen.csv
./res/U50/U50_train.csv
./res/EL36/EL36_test_seen.csv
./res/EL36/EL36_test_unseen.csv
./res/EL36/EL36_dev_seen.csv
./res/EL36/EL36_train.csv
./res/V135/V135_test_unseen.csv
./res/V135/V135_test_seen.csv
./res/V135/V135_dev_seen.csv
./res/V135/V135_train.csv
./res/ESVCR36/ESVCR36_test_seen.csv
./res/ESVCR36/ESVCR36_test_unseen.csv
./res/ESVCR36/ESVCR36_train.csv
./res/ESVCR36/ESVCR36_dev_seen.csv
./res/V90/V90_test_seen.csv
./res/V90/V90_train.csv
./res/V90/V90_dev_seen.csv
./res/V90/V90_test_unseen.csv
./res/U72/U72_dev_seen.csv
./res/U72/U72_test_seen.csv
./res/U72/U72_train.csv
./res/U72/U72_test_unseen.csv
./res/O36/O36_train.csv
./res/O36/O36_dev_seen.csv
./res/O36/O36_test_seen.csv
./res/O36/O36_test_unseen.csv
./res/O50/O50_test_seen.csv
./res/O50/O50_train.csv
./res/O50/O50_dev_seen.csv
./res/O50/O50_test_unseen.csv
./res/ESVCR72/ESVCR72_test_unseen.csv
./res/ESVCR72/ESVCR72_test_seen.csv
./res/ESVCR72/ESVCR72_train.csv
./res/ESVCR72/ESVCR72_dev_seen.csv
./res/ELVCR36/ELVCR36_dev_seen.csv
./res/ELVCR36/ELVCR36_test_seen.csv
./res/ELVCR36/ELVCR36_test_unseen.csv
./res/ELVCR36/ELVCR36_train.csv
./res/ES72/ES72_train.csv
./res/ES72/ES72_test_seen.csv
./res/ES72/ES72_dev_seen.csv
./res/ES72/ES72_test_unseen.csv

In [19]:
for ef in os.listdir(os.path.join('.', 'res_ens')):
    os.makedirs(os.path.join('.', 'newres_ens', ef), exist_ok=True)
    for file in os.listdir(os.path.join('.', 'res_ens', ef)):
        if 'dev' in file or 'test' in file:
            print(os.path.join('.', 'res_ens', ef, file))
            df = pd.read_csv(os.path.join('.', 'res_ens', ef, file)).sort_values(by='id')
        elif 'train' in file:
            print(os.path.join('.', 'res_ens', ef, file))
            df = pd.read_csv(os.path.join('.', 'res_ens', ef, file))
            delta = ref[~ref.id.isin(df.id)]
            df = df.append(delta).sort_values(by='id')
        df.to_csv(os.path.join('.', 'newres_ens', ef, file))

./res_ens/EL365072_loop/FIN_test_unseen_EL365072_loop_2.csv
./res_ens/EL365072_loop/FIN_test_seen_EL365072_loop_2.csv
./res_ens/EL365072_loop/FIN_dev_seen_EL365072_loop_2.csv
./res_ens/EL365072_loop/FIN_train_EL365072_loop_2.csv
./res_ens/U365072_loop/FIN_dev_seen_U365072_loop_2.csv
./res_ens/U365072_loop/FIN_test_seen_U365072_loop_2.csv
./res_ens/U365072_loop/FIN_test_unseen_U365072_loop_2.csv
./res_ens/U365072_loop/FIN_train_U365072_loop_2.csv
./res_ens/EL365072_sa/EL365072_sa_train_SA.csv
./res_ens/EL365072_sa/EL365072_sa_test_unseen_SA.csv
./res_ens/EL365072_sa/EL365072_sa_test_seen_SA.csv
./res_ens/EL365072_sa/EL365072_sa_dev_seen_SA.csv
./res_ens/U365072_sa/U365072_sa_test_unseen_SA.csv
./res_ens/U365072_sa/U365072_sa_dev_seen_SA.csv
./res_ens/U365072_sa/U365072_sa_train_SA.csv
./res_ens/U365072_sa/U365072_sa_test_seen_SA.csv
./res_ens/O365050_sa/O365050_sa_dev_seen_SA.csv
./res_ens/O365050_sa/O365050_sa_train_SA.csv
./res_ens/O365050_sa/O365050_sa_test_unseen_SA.csv
./res_ens/O365050_sa/O365050_sa_test_seen_SA.csv
./res_ens/ES365072_loop/FIN_test_seen_ES365072_loop_2.csv
./res_ens/ES365072_loop/FIN_dev_seen_ES365072_loop_2.csv
./res_ens/ES365072_loop/FIN_train_ES365072_loop_2.csv
./res_ens/ES365072_loop/FIN_test_unseen_ES365072_loop_2.csv
./res_ens/ES365072_sa/ES365072_sa_test_unseen_SA.csv
./res_ens/ES365072_sa/ES365072_sa_train_SA.csv
./res_ens/ES365072_sa/ES365072_sa_dev_seen_SA.csv
./res_ens/ES365072_sa/ES365072_sa_test_seen_SA.csv
./res_ens/VLMDB_sa/VLMDB_sa_dev_seen_SA.csv
./res_ens/VLMDB_sa/VLMDB_sa_train_SA.csv
./res_ens/VLMDB_sa/VLMDB_sa_test_seen_SA.csv
./res_ens/VLMDB_sa/VLMDB_sa_test_unseen_SA.csv
./res_ens/O365050_loop/FIN_train_O365050_loop_2.csv
./res_ens/O365050_loop/FIN_dev_seen_O365050_loop_2.csv
./res_ens/O365050_loop/FIN_test_unseen_O365050_loop_2.csv
./res_ens/O365050_loop/FIN_test_seen_O365050_loop_2.csv
./res_ens/VLMDB_loop/FIN_train_VLMDB_loop_2.csv
./res_ens/VLMDB_loop/FIN_dev_seen_VLMDB_loop_2.csv
./res_ens/VLMDB_loop/FIN_test_unseen_VLMDB_loop_2.csv
./res_ens/VLMDB_loop/FIN_test_seen_VLMDB_loop_2.csv